# Monorepo Globals
node_modules/
dist/
build/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Web Specific
web/node_modules/
web/dist/

# Mobile Specific (Flutter)
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/ios/Flutter/.last_build_id
mobile/android/app/debug
mobile/android/app/profile
mobile/android/app/release
mobile/app.*.symbols
mobile/app.*.map.json

# Arquivos de IA
.gemini/
conductor/
query_local_model
.cline/
.cursorrules

# Arquivos sensíveis/pessoais
.vscode/
.idea/
.firebase/
*.pem
*.key
*.cert
